## Last commit: 2025-11-30 12:40:51 UTC by root
version 24.4R1.9;
system {
    host-name R0;
    root-authentication {
        encrypted-password "$6$S.QP/LSy$AkYy5P4zGbxTcLkChrKriZ6Oy7R8hF2Sr.AgSSACuUHxTT/sVJ/BLbWnyjwTxrylPSlhU4gystFSALt7kEi5o."; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$mKShBJcW$pYMeiIMh5HewKeiJHtX8h3ftUkotoLBLxO2A4ruc21vIcQugF8Cv5CkdwmQUFrQ62ZQEqdU8Bg/eI2hXbOsGd1"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}