## Last commit: 2026-04-30 09:14:35 UTC by admin
version 24.2R1-S2.5;
system {
    host-name R1;
    root-authentication {
        encrypted-password "$6$cEnHFbaN$XDxhwufX5RcaGhywcDtFIfevSwJHs.cjKv5O.IrNkoV3r44rmOudhutEqQP7u7tMpiZLD2So.LkVjRmtQfHaH0"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$FUORQ15P$NtUM9pjbAdwvx8vzWc1zId3aGWfHZvjRfupoef0eF3MBxgr6L9qJxYSWXIE6Otk2qa3OQ85YJ5o2oLfuqeFWU/"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.0.0.2/30;
            }
        }
    }
    ge-0/0/1 {
        vlan-tagging;
        encapsulation extended-vlan-bridge;
        unit 0 {
            vlan-id 10;
        }
    }
    ge-0/0/2 {
        vlan-tagging;
        encapsulation extended-vlan-bridge;
        unit 0 {
            vlan-id 10;
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    irb {
        unit 10 {
            family inet {
                address 192.168.0.2/24 {
                    vrrp-group 10 {
                        virtual-address 192.168.0.1;
                        priority 110;
                        preempt;
                        accept-data;
                    }
                }
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 10.0.0.1;
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/0.0 {
                interface-type p2p;
            }
            interface ge-0/0/1.0 {
                passive;
            }
            interface ge-0/0/2.0 {
                passive;
            }
            interface irb.10;
        }
    }
    rstp {
        interface ge-0/0/1 {
            cost 1000;
            mode point-to-point;
        }
        interface ge-0/0/2 {
            cost 40000;
            mode point-to-point;
        }
    }
}
bridge-domains {
    BD10 {
        domain-type bridge;
        vlan-id 10;
        interface ge-0/0/1.0;
        interface ge-0/0/2.0;
        routing-interface irb.10;
    }
}