## Last commit: 2024-12-19 08:25:56 UTC by root
version 24.4R1.9;
system {
    host-name SW1;
    root-authentication {
        encrypted-password "$6$SwlUtRXl$n7UVAarCvbYnY0Xq4acxxVo/Q4CxFKfpcXBK0P/cIJOAQf6/B4u1o3qLgPDNajGTtLw9Vy4RdcTm1RllTmKQ60"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$Sj4p381G$.h36jUHWFMIMLxiOo7A4/X8ZQfbY3BzAZAp7uRhuisAhazdSQeeONPUoxOR2BSLHGhfPj9wuwdPvZxC1Ne60k."; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 10;
        }
    }
}
interfaces {
    ge-0/0/0 {
        ether-options {
            802.3ad ae1;
        }
    }
    ge-0/0/1 {
        ether-options {
            802.3ad ae1;
        }
    }
    ge-0/0/2 {
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members 100;
                }
            }
        }
    }
    ae1 {
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members 100-200;
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
vlans {
    VLAN-100 {
        vlan-id 100;
    }
    VLAN-200 {
        vlan-id 200;
    }
}