## Last commit: 2026-04-29 11:25:37 UTC by root
version 24.2R1-S2.5;
system {
    host-name PE;
    root-authentication {
        encrypted-password "$6$szijVS8j$xn8OgrnndOhBx/0rpv4kgYnPhEBeKvQ13QdnvzeVWAiPLKVZpnV7Arnoycv6X3kzS1VOr6iepsy06u5.Iq9RO0"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$Pqt9PCMh$8EHSTwAuWepVA6tinAyS/syDTbdCMYn8t80rw1QPzxPPvww2p1x/vM1Qi.1CJ4f9gpBVBkARLN4pHvS4ZBkuQ/"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}