## Last commit: 2026-04-30 09:03:08 UTC by admin
version 24.2R1-S2.5;
system {
    host-name PE;
    root-authentication {
        encrypted-password "$6$szijVS8j$xn8OgrnndOhBx/0rpv4kgYnPhEBeKvQ13QdnvzeVWAiPLKVZpnV7Arnoycv6X3kzS1VOr6iepsy06u5.Iq9RO0"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$Pqt9PCMh$8EHSTwAuWepVA6tinAyS/syDTbdCMYn8t80rw1QPzxPPvww2p1x/vM1Qi.1CJ4f9gpBVBkARLN4pHvS4ZBkuQ/"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    maximum-ecmp 16;
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.0.0.1/30;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.0.0.5/30;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 1.1.1.1/32;
            }
        }
    }
}
policy-options {
    policy-statement LOAD-BALANCE {
        then {
            load-balance per-flow;
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    forwarding-table {
        export LOAD-BALANCE;
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/0.0 {
                interface-type p2p;
            }
            interface ge-0/0/1.0 {
                interface-type p2p;
            }
        }
    }
}