## Last commit: 2025-11-25 12:50:32 UTC by admin
version 24.2R1-S2.5;
system {
    host-name R1;
    root-authentication {
        encrypted-password "$6$s4H8zINh$QyAs4HRdxJIH1hxItXjlse6Pd/XmxttIiUKCRcjSZL3htx.I6.CFaJl1yxvCrqkVbCWH9HdKQLkv6YLPMM85W."; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$Pz6Id54E$vwOmigImIsrCKhIiEaKeKCpApFl9tv1ruMuuto7JD.kboCVqT0T06M1TK33Oy7KA0.zvS6FtwXw/rl9PENXcO0"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.1.1.1/24;
            }
            family mpls;
        }
    }
    ge-0/0/1 {
        encapsulation ethernet-ccc;
        unit 0 {
            family ccc;
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 10.1.2.1/24;
            }
            family mpls;
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.1.1.1/32;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    rib inet.0 {
        martians {
            127.0.0.0/8 orlonger allow;
        }
    }
}
protocols {
    l2circuit {
        neighbor 172.1.1.4 {
            interface ge-0/0/1.0 {
                virtual-circuit-id 1;
                encapsulation-type ethernet;
            }
        }
    }
    ldp {
        interface ge-0/0/0.0;
        interface ge-0/0/2.0;
        interface lo0.0;
    }
    mpls {
        no-cspf;
        label-switched-path lsp_to_R4_ge1 {
            to 172.1.1.4;
            primary R1-R4-001;
        }
        path R1-R4-001 {
            172.1.1.2 strict;
            10.1.4.2 strict;
        }
        interface ge-0/0/0.0;
        interface ge-0/0/2.0;
    }
    ospf {
        traffic-engineering;
        area 0.0.0.0 {
            interface lo0.0 {
                passive;
            }
            interface ge-0/0/0.0;
            interface ge-0/0/2.0;
        }
    }
    rsvp {
        interface lo0.0;
        interface ge-0/0/0.0;
        interface ge-0/0/2.0;
    }
}