## Last commit: 2024-12-19 08:25:56 UTC by root
version 24.4R1.9;
system {
    host-name SW2;
    root-authentication {
        encrypted-password "$6$6RwyQU.9$nv1zrsqMKAHhCMCMWEjTZhkzbP5iPRNDLQxxI.4Cu6JDn1DuuDk4f60ToD6gyM1xVt0GUlJdUnKJ4mhJuV7yd."; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$TtKKnFkj$cfkegViHjEPfrXYz.nXQ78tKbdNNsNAkUP6l3IzFJoFbp/bJbQ.AXmjzKYjnVZgd1hcyR7r2phWgYfp/dvwKp0"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members USER;
                }
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members USER;
                }
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family ethernet-switching {
                vlan {
                    members USER;
                }
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family ethernet-switching {
                vlan {
                    members USER;
                }
            }
        }
    }
    ge-0/0/4 {
        unit 0 {
            family ethernet-switching {
                vlan {
                    members USER;
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
protocols {
    rstp {
        interface ge-0/0/0 {
            mode point-to-point;
        }
        interface ge-0/0/1 {
            mode point-to-point;
        }
        interface ge-0/0/2 {
            mode point-to-point;
        }
        interface ge-0/0/3 {
            edge;
        }
        interface ge-0/0/4 {
            edge;
        }
    }
}
vlans {
    USER {
        vlan-id 10;
    }
}