## Last commit: 2024-12-19 18:49:23 UTC by root
version 24.2R1-S2.5;
system {
    host-name PE1;
    root-authentication {
        encrypted-password "$6$RrAH0Ifx$XKvSoQiVqYEPcnfFgHDzAaroIsHeIiLgJB3yQqbCKJlZmurjiDV0oeju8rNAyaaE36H/6XT9GZKSUn9uxCrLY0"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$RTAtafAr$xQagx7zi3BSXtdwMUeIBUUhIv1MlMqFpK2s6Bi6ymN4roj/WUXfYeN8efZHVeyG5rSyJzc8R8K1QrU6IS20B10"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 192.168.0.1/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}