## Last commit: 2024-12-19 18:49:23 UTC by root
version 24.2R1-S2.5;
system {
    host-name PE2;
    root-authentication {
        encrypted-password "$6$5TrnIAFk$AW.vIur9rmMbaOsriUY/.2obSI6NHW4G2qiOo9HA.Qb9FI6NFuFSbhvkTOba8O.gfXZnG9Of/J.qtlsGHMVCK."; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$5y6Pmtet$s6XB2kKJkoXaSl6ITWrmj6uuL4p3DizQPYT.omYrxhlGqYJ7Ou3V6UMh.lJ9jbwmHBosurHH2dZy2hR97OCb8."; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
interfaces {
    ge-0/0/1 {
        ##
        ## Warning: configuration block ignored: unsupported platform (vmx)
        ##
        ether-options {
            no-auto-negotiation;
            speed {
                100m;
            }
        }
        unit 0 {
            family inet {
                address 192.168.0.2/24;
            }
            ##
            ## Warning: statement ignored: unsupported platform (vmx)
            ##
            family ethernet-switching;
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}