## Last commit: 2025-11-30 12:51:17 UTC by admin
version 24.4R1.9;
system {
    host-name R3;
    root-authentication {
        encrypted-password "$6$Dp/6x15F$tHxSm9GGbHH0BNVQWutt.vJtp5KnQitlz751A5bWIH5W9raSTXNz8y10kHn47rJoKcNZelN.yb9tad6ktFY3P."; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$iEkxNCuL$WN6LLHKte7wHNbdyyPM6jhAV3cfjUM9.Ij0yvAL48YBKbt0IOgwgtLz.dw5KjdHoUr5oY2Voymi4apUFxprwX."; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 10;
        }
    }
}
interfaces {
    ge-0/0/0 {
        mtu 9000;
        unit 0 {
            family inet {
                address 100.64.101.21/30;
            }
        }
    }
    ge-0/0/1 {
        mtu 9000;
        unit 0 {
            family inet {
                address 100.64.101.14/30;
            }
        }
    }
    ge-0/0/2 {
        ether-options {
            802.3ad ae1;
        }
    }
    ge-0/0/3 {
        ether-options {
            802.3ad ae2;
        }
    }
    ae1 {
        esi {
            00:00:00:00:00:00:00:00:00:01;
            all-active;
        }
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
                system-id 00:00:00:00:00:01;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [ VLAN-100 VLAN-200 ];
                }
            }
        }
    }
    ae2 {
        esi {
            00:00:00:00:00:00:00:00:00:02;
            all-active;
        }
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
                system-id 00:00:00:00:00:02;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [ VLAN-100 VLAN-200 ];
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    irb {
        unit 100 {
            virtual-gateway-accept-data;
            family inet {
                address 100.64.14.4/24 {
                    virtual-gateway-address 100.64.14.1;
                }
            }
        }
        unit 200 {
            virtual-gateway-accept-data;
            family inet {
                address 100.64.15.4/24 {
                    virtual-gateway-address 100.64.15.1;
                }
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 100.64.100.3/32;
            }
        }
    }
}
policy-options {
    policy-statement BGP-EXPORT {
        from protocol direct;
        then accept;
    }
    policy-statement ECMP {
        then {
            load-balance per-flow;
            accept;
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    router-id 100.64.100.3;
    autonomous-system 65503;
    forwarding-table {
        export ECMP;
    }
}
protocols {
    bgp {
        group UNDERLAY {
            type external;
            family inet {
                unicast;
            }
            family evpn {
                signaling;
            }
            export BGP-EXPORT;
            multipath;
            neighbor 100.64.101.13 {
                peer-as 65501;
            }
            neighbor 100.64.101.22 {
                peer-as 65504;
            }
        }
    }
    evpn {
        encapsulation vxlan;
        default-gateway no-gateway-community;
        multicast-mode ingress-replication;
        extended-vni-list all;
    }
}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher 65503:1;
    vrf-target target:100:100;
}
vlans {
    VLAN-100 {
        vlan-id 100;
        l3-interface irb.100;
        vxlan {
            vni 100;
        }
    }
    VLAN-200 {
        vlan-id 200;
        l3-interface irb.200;
        vxlan {
            vni 200;
        }
    }
}